pre {
   font-family: "courier new", courier, monospace;
   font-size: 14px;
   margin-left: 20px;
}

/* unvisited link */
   a:link {
   color: blue;
}

/* visited link */
   a:visited {
   color: blue;
}

/* mouse over link */
   a:hover {
   color: red;
}

/* selected link */
   a:active {
   color: red;
}
